.sideImage {
    width: 25vw;
    max-width: 450px;
    height: calc(100vh - 48px);
    margin: 24px;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;

    background-color: var(--theme-color);
    border-radius: 12px;
}

.main {
    width: 75vw;
    margin: 24px;
    display: flex;
    flex-direction: column;

    .list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .item {
            list-style: none;
            margin: 4px;
            padding: 8px 12px;
            border: 2px solid var(--theme-color);
            border-radius: 8px;
            cursor: pointer;
        }
        .item:hover {
            background-color: var(--theme-color);
        }
        .active {
            background-color: var(--theme-color);
        }
    }
    .server {
        height: calc(100% - 24px);
    }
}
